@import "~bootstrap/dist/css/bootstrap.css";

h2 {
  text-shadow: 2px 2px rgba(251, 104, 87, 0.537);
}

h3 {
  text-shadow: 2px 2px rgba(251, 104, 87, 0.537);
}
h4 {
  text-shadow: 2px 2px rgba(251, 104, 87, 0.537);
}
.navbar-custom-gradient {
  background-image: linear-gradient(to right, #d3607d, #ef9199);

}
.custom-font-color {
  color: #0a0a0a;
}

.bg-custom-pink {
  background-color: pink;
}

.bg-custom-coral {
  background-image: linear-gradient(to right, #d3607d, #ffd5d9);
}

.btn-custom-blue {
  background-color: white;
  color: black;
}

.navbar-item {
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  transition: color 0.3s;
}


.navbar-item:hover {
  color: #ff9900;
}

.h1-box {
  background-color: lightcoral;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.custom-scroll-box {
width: 30%;
  height: 40%;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: cetner;
}

.form-container {
  background-color: rgba(255, 160, 173, 0.218);
  padding: 20px;
  border-radius: 10px;
  width: 980px;
  height: 40%
}

.form-container .custom-button {

  background-color: black;
  color: rgb(221, 172, 155);
}

.btn-custom {
  background-color: #0b0a0a;
  color: white;

}
.review-item {
  background-color: #0b0a0a;
  color: #e9ba7c;
  padding: 10px 20px;
  text-decoration: none;
  transition: color 0.3s;
}

.searchList li {
  border-bottom: 1px solid black;
  }
