<h1>Restaurant</h1>

<div *ngIf="!selected" class="list-group list-group-light">
  <!-- <button
    type="button"
    class="list-group-item list-group-item-action px-3 border-0 active"
    aria-current="true"

    >
  </button> -->
    <ul class="list-unstyled" *ngFor="let restaurant of restaurants">
      <li (click)="displayRestaurant(restaurant)">
        {{ restaurant.name }}
      </li>
    </ul>
</div>
<div id="showOneRestaurant" *ngIf="selected && !editRestaurant">


  <h3>{{ selected.name }}</h3>
  <p>{{ selected.description }}</p>
  <p>{{ selected.restaurantUrl }}</p>
  <p>{{ selected.phoneNumber }}</p>
  <p>{{ selected.address.city }}</p>
  <p>{{ selected.address.state }}</p>

  <button class="btn btn-danger" (click)="displayList()">Back</button>
  <button class="btn btn-primary" (click)="setEditRestaurant()">Edit</button>
</div>
<div *ngIf="editRestaurant">
<form>
  <h4>Edit ToDo #{{ editRestaurant.id }}</h4>
  <label for="editTask">Name:</label>
  <input type="text" name="editTask" [(ngModel)]="editRestaurant.name" /><br />
  <label for="editDescription">Description:</label><br />
  <textarea
    name="editDescription"
    [(ngModel)]="editRestaurant.description"
  ></textarea
  ><br />
  <button class="btn btn-danger" (click)="editRestaurant = null">Cancel</button>
  <button class="btn btn-success" (click)="updateRestaurant(editRestaurant)">Save</button>
</form>

</div>
