<br />
<div class="container">
  <div class="row">
    <div class="h1-box bg-h1-box text-white text-center">
      <h1>Restaurants</h1>
    </div>
    <div
      *ngIf="!selected"
      class="list-group list-group-light custom-scroll-box"
    >
      <!-- Restaurant list -->
      <ul
        class="list-unstyled"

      >
        <li>
          <div *ngFor="let restaurant of restaurants | enabled : showEnabled">
            <!--... your restaurant details ...-->
            <div (click)="displayRestaurant(restaurant)">
                {{ restaurant.name }}<br />
              </div>
                <div *ngIf="getCurrentRole() === 'admin'">

              <button
                class="btn btn-danger"
                (click)="deleteRestaurant(restaurant.id)"
              >
                Remove the flavor
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <br />
    <!-- Create form -->
    <div class="form-container" *ngIf="!selected">
      <br />
      <form class="row g-3">
        <h1>Add a new Flavor to the scape</h1>
        <div class="col-md-6">
          <label class="form-label" for="newRestaurant"
            >Restaurant Name:
          </label>
          <input
            class="form-control"
            type="text"
            name="newRestaurant"
            [(ngModel)]="newRestaurant.name"
            placeholder="name"
          /><br />
        </div>
        <div class="col-md-6">
          <label class="form-label" for="newDescription">Description </label>
          <textarea
            class="form-control"
            type="text"
            name="newDescription"
            [(ngModel)]="newRestaurant.description"
            placeholder="Description"
          ></textarea
          ><br />
        </div>
        <div class="col-md-4">
          <label class="form-label" for="imageUrl">Pic of Restaurant: </label>
          <input
            class="form-control"
            type="text"
            name="imageUrl"
            [(ngModel)]="newRestaurant.imageUrl"
            placeholder="Image"
          /><br />
        </div>
        <div class="col-md-4">
          <label class="form-label" for="newRestaurantURL"
            >Restaurants website:
          </label>
          <input
            class="form-control"
            type="text"
            name="newRestaurantURL"
            [(ngModel)]="newRestaurant.restaurantUrl"
            placeholder="Website"
          /><br />
        </div>
        <div class="col-md-4">
          <label class="form-label" for="newRestaurantTN">Phone Number: </label>
          <input
            class="form-control"
            type="text"
            name="newRestaurantTN"
            [(ngModel)]="newRestaurant.phoneNumber"
            placeholder="Number"
          />
        </div>

        <div>
          <label class="form-label">Address:</label>
          <input
            type="text"
            class="form-control"
            name="street"
            [(ngModel)]="address.street"
            placeholder="Street"
          />
        </div>

        <div>
          <input
            type="text"
            class="form-control"
            name="street2"
            [(ngModel)]="address.street2"
            placeholder="Street 2"
          />
        </div>

        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            name="city"
            [(ngModel)]="address.city"
            placeholder="City"
          />
        </div>

        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            name="state"
            [(ngModel)]="address.state"
            placeholder="State"
          />
        </div>

        <div class="col-12">
          <label for="zipcode" class="form-label">Zip Code:</label>
          <input
            type="text"
            class="form-control"
            id="zipcode"
            name="zipcode"
            [(ngModel)]="address.zipcode"
          />
        </div>
        <div class="col-md-6">
          <label for="latitude" class="form-label">Latitude:</label>
          <input
            type="text"
            class="form-control"
            id="latitude"
            name="latitude"
            [(ngModel)]="address.latitude"
          />
        </div>
        <div class="col-md-6">
          <label for="longitude" class="form-label">Longitude:</label>
          <input
            type="text"
            class="form-control"
            id="longitude"
            name="longitude"
            [(ngModel)]="address.longitude"
          />
        </div>
        <div class="col-12">
          <button
            type="button"
            class="btn btn-primary"
            (click)="addRestaurant(newRestaurant)"
          >
            Add a new Flavor
          </button>
        </div>
      </form>
    </div>
  </div>
  <div>
    <div *ngIf="selected && !editRestaurant">
      <!-- Display selected restaurant details -->
      <h3>{{ selected.name }}</h3>
      <p>{{ selected.description }}</p>
      <p>{{ selected.restaurantUrl }}</p>
      <p>{{ selected.phoneNumber }}</p>
      <p>{{ selected.imageUrl }}</p>
      <p>{{ selected.address.street }}</p>
      <p>{{ selected.address.city }}</p>
      <p>{{ selected.address.state }}</p>
      <h3>Menus</h3>
      <div *ngFor="let menu of menus">
        <h4>Menu Type: {{ menu.type }}</h4>
        <ul>
          <li *ngFor="let item of menu.menuItems">
            {{ item.itemName }}
          </li>
        </ul>
      </div>

      <div class="rating">
        <span
          *ngFor="let star of stars; let i = index"
          [class.selected]="i < selectedValue"
          (mouseover)="countStar(star)"
          (mouseout)="removeStar(star)"
          (click)="setRatingForRestaurant(selected.id, star)"
          [attr.id]="'starId' + i"
        >
          ★
        </span>
      </div>

      <div *ngIf="loggedIn()">
        <form
          (ngSubmit)="
            addMenuItem(
              newMenuItem.menu.id,
              newMenuItem.restaurantId,
              newMenuItem
            )
          "
          #form="ngForm"
        >
          <div class="col-md-6">
            <label class="form-label" for="itemName">Name:</label>
            <input
              class="form-control"
              type="text"
              name="itemName"
              [(ngModel)]="newMenuItem.itemName"
            /><br />
          </div>
          <div class="col-md-6">
            <label class="form-label" for="itemUrl">Item URL:</label>
            <input
              class="form-control"
              type="text"
              name="itemUrl"
              [(ngModel)]="newMenuItem.itemUrl"
            /><br />
          </div>
          <div class="col-md-6">
            <label class="form-label" for="price">Price:</label>
            <input
              class="form-control"
              type="number"
              name="price"
              [(ngModel)]="newMenuItem.price"
            /><br />
          </div>
          <div class="col-md-6">
            <label class="form-label" for="calories">Calories:</label>
            <input
              class="form-control"
              type="number"
              name="calories"
              [(ngModel)]="newMenuItem.calories"
            /><br />
          </div>
          <div class="col-md-6">
            <label class="form-label" for="description">Description: </label>
            <textarea
              name="description"
              [(ngModel)]="newMenuItem.description"
              cols="30"
              rows="10"
            ></textarea>
          </div>
          <div class="col-md-6">
            <label class="form-label" for="menu">Menu: </label>
            <select name="menu" [(ngModel)]="newMenuItem.menu.id">
              <option *ngFor="let menu of menus" value="{{ menu.id }}">
                {{ menu.type }}
              </option>
            </select>
          </div>
          <button
            class="btn btn-primary"
            (click)="
              addMenuItem(
                newMenuItem.menu.id,
                newMenuItem.restaurantId,
                newMenuItem
              )
            "
          >
            Add Menu Item
          </button>
        </form>
      </div>

      <div *ngIf="getCurrentRole() === 'admin'">
        <button class="btn btn-primary" (click)="setEditRestaurant()">
          Edit
        </button>
      </div>
      <button class="btn btn-danger" (click)="displayList()">Back</button>
    </div>
    <!-- Edit restaurant form -->
    <div *ngIf="editRestaurant && getCurrentRole() === 'admin'">
      <form class="row g-3">
        <h4>Edit Restaurant #{{ editRestaurant.id }}</h4>
        <div class="col-md-6">
          <label class="form-label" for="editTask">Name:</label>
          <input
            class="form-control"
            type="text"
            name="editTask"
            [(ngModel)]="editRestaurant.name"
          /><br />
        </div>
        <div class="col-md-6">
          <label class="form-label" for="editDescription">Description:</label
          ><br />
          <textarea
            class="form-control"
            name="editDescription"
            [(ngModel)]="editRestaurant.description"
          ></textarea
          ><br />
        </div>
        <label class="form-label" for="editWebstie">Webstie:</label>
        <input
          class="form-control"
          type="text"
          name="editWebstie"
          [(ngModel)]="editRestaurant.restaurantUrl"
        /><br />
        <label class="form-label" for="editphoneNumber">Phone Number:</label>
        <input
          class="form-control"
          type="text"
          name="editphoneNumber"
          [(ngModel)]="editRestaurant.phoneNumber"
        /><br />
        <label class="form-label" for="editimageUrl">image:</label>
        <input
          class="form-control"
          type="text"
          name="editimageUrl"
          [(ngModel)]="editRestaurant.imageUrl"
        /><br />
        <div>
          <label class="form-label">Address:</label>
          <input
            type="text"
            class="form-control"
            name="street"
            [(ngModel)]="editRestaurant.address.street"
            placeholder="Street"
          />
        </div>

        <div>
          <input
            type="text"
            class="form-control"
            name="street2"
            [(ngModel)]="editRestaurant.address.street2"
            placeholder="Street 2"
          />
        </div>

        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            name="city"
            [(ngModel)]="editRestaurant.address.city"
            placeholder="City"
          />
        </div>

        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            name="state"
            [(ngModel)]="editRestaurant.address.state"
            placeholder="State"
          />
        </div>

        <div class="col-12">
          <label for="zipcode" class="form-label">Zip Code:</label>
          <input
            type="text"
            class="form-control"
            id="zipcode"
            name="zipcode"
            [(ngModel)]="editRestaurant.address.zipcode"
          />
        </div>

        <div class="col-md-6">
          <label for="latitude" class="form-label">Latitude:</label>
          <input
            type="text"
            class="form-control"
            id="latitude"
            name="latitude"
            [(ngModel)]="editRestaurant.address.latitude"
          />
        </div>

        <div class="col-md-6">
          <label for="longitude" class="form-label">Longitude:</label>
          <input
            type="text"
            class="form-control"
            id="longitude"
            name="longitude"
            [(ngModel)]="editRestaurant.address.longitude"
          />
        </div>

        <div class="d-grid gap-2 d-md-block">
          <button
            class="btn btn-success"
            (click)="updateRestaurant(editRestaurant)"
          >
            Save</button
          ><br /><br />
          <button class="btn btn-danger" (click)="editRestaurant = null">
            Cancel</button
          ><br />
        </div>
      </form>
    </div>
  </div>
</div>
