.rating span {
  cursor: pointer;
  font-size: 1.5em;
  margin: 0 5px;
  color: lightgray;
}
.rating span.selected {
  color: gold;
}

.navbar-item {
  color: rgb(255, 152, 170);
  background-color: black;
  border-radius: 15px;
}
