.rating span {
  cursor: pointer;
  font-size: 1.5em;
  margin: 0 5px;
  color: lightgray;
}
.rating span.selected {
  color: rgb(12, 12, 11);
}

.navbar-item {
  color: rgb(248, 244, 245);
  background-color: black;
  border-radius: 15px;
}

.review-card {
  font-family: "Arial", Dancing Script;
  color: rgb(22, 21, 21);
  background-color: #f5f5f5;
  border: 1px solid #ccc;
}

.review-card {
  font-family: "Arial", Dancing Script;
  color: rgb(7, 7, 7);
  border: 1px solid #ccc;
}

.review-item {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
.review-item {
  border-bottom: 1px solid #a3a3a3;
  padding: 10px;
  color: black; /* Add this line to set text color */
}

.review-item:nth-child(odd) {
  background: linear-gradient(to right,  rgb(209, 206, 207),  rgb(167, 167, 167));
}

.review-item:nth-child(even) {
  background: linear-gradient(to right, rgb(167, 167, 167),  rgb(209, 206, 207));
}
.review-item strong {
  font-weight: bold;
  font-family: "handlee", sans-serif;
}

.menu-type {
  font-family: "handlee", sans-serif;
}

.restaurant-container {
  width: 80%;
}

.container {
  background-size: contain;
 background-position: center;
 background-repeat: no-repeat;
  background-image: url('../../../assets/YoursTrulyCupcake.png');
  background-attachment: fixed;
}
.smallx {
  width: 35px;
  height: auto;
}
#form-container {
  background-color: rgb(255, 192, 203);
  padding: 20px;
  border-radius: 10px;
  width: 650px;
  height: 13%;
}
#formthing{
  border:  rgb(177, 93, 107);
  background-color: rgba(255, 192, 203, .3);
  border-radius: 15px;
}

.navbar-item {
  color: rgb(255, 152, 170);
  background-color: black;
}
#restaurantimage {
  border-radius: 15px;
}


