<form class="mt-4">
    <input type="hidden" name="id" [(ngModel)]="address.id"> <!-- Hidden input for 'id' -->

    <!-- User Information -->
    <div class="mb-3">
      <label for="username" class="form-label">User Name:</label>
      <input type="text" class="form-control" id="username" name="username" [(ngModel)]="newUser.username">
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label for="firstName" class="form-label">First Name:</label>
          <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="newUser.firstName">
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label for="lastName" class="form-label">Last Name:</label>
          <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="newUser.lastName">
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="text" class="form-control" id="email" name="email" [(ngModel)]="newUser.email">
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input type="password" class="form-control" id="password" name="password" [(ngModel)]="newUser.password">
    </div>

    <!-- Address Information -->
    <div class="mb-3">
      <label class="form-label">Address:</label>
      <input type="text" class="form-control" name="street" [(ngModel)]="address.street" placeholder="Street">
    </div>

    <div class="mb-3">
      <input type="text" class="form-control" name="street2" [(ngModel)]="address.street2" placeholder="Street 2">
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <input type="text" class="form-control" name="city" [(ngModel)]="address.city" placeholder="City">
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <input type="text" class="form-control" name="state" [(ngModel)]="address.state" placeholder="State">
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="zipcode" class="form-label">Zip Code:</label>
      <input type="text" class="form-control" id="zipcode" name="zipcode" [(ngModel)]="address.zipcode">
    </div>
    <div class="mb-3">
      <label for="latitude" class="form-label">Latitude:</label>
      <input type="text" class="form-control" id="latitude" name="latitude" [(ngModel)]="newUser.latitude">
    </div> <div class="mb-3">
      <label for="longitude" class="form-label">Longitude:</label>
      <input type="text" class="form-control" id="longitude" name="longitude" [(ngModel)]="newUser.longitude">
    </div>

    <button type="button" class="btn btn-primary" (click)="register(newUser)">Register An Account</button>
  </form>
