body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.content-container {
    width: 80%;
}

.my-google-map {
    margin-top: 2rem;
    border-radius: 15px;
}

.container-map {
    display: flex;
    justify-content: left;
    border-radius: 15px;
}

#map {
    height: 80vh;
    width: 100vh;
    background-color: lightblue;

}

#restaurant-search {
    text-size-adjust: small;
    text-decoration-color: rgb(105, 77, 82);
}

.restaurant-search h3 {
    color: #aa517c;
}

.restaurant-search-small {
    color: #ba495c;
}

#container {
  height: 200vh;

  display: flex;
  justify-content: center;
  align-items: center;
}


.results-container {
  width: 50%;             /* This makes the container occupy 50% of the screen width */
  height: 85vh;           /* This defines a height for the container */
  overflow-y: scroll;     /* This makes it scrollable vertically */
  position: fixed;        /* This makes the container fixed on the screen */
  right: 10vh;               /* This pushes the container to the right side of the screen */
  top: 10vh;              /* This gives a little margin from the top */
  background-color: rgba(255, 213, 213, 0.369);  /* Light transparent orange */
  background-image: url(../../../assets/homebackground.png);
  border-left: 1px solid #ccc;
  text-align: center;
}
.restaurant-result {
  padding: 10px;               /* Adds some space around the content inside the box */
  margin-bottom: 10px;         /* Adds some space between each result for better visual separation */
  width: auto;                 /* It will auto adjust based on content width */
  max-width: 90%;              /* This ensures the boxes don’t stretch too wide */
  background-color: rgba(237, 237, 0, 0.6);   /* Semi-transparent yellow */
  border: 1px solid #EEDD00;   /* A solid border for the yellow box */
  border-radius: 5px;          /* Rounded corners for the box */
}

.info-widget {
    width: 31.75%;
    border: 1px solid black;
    display: inline-block;
}

.middle {
    float: left;
    width: 90%;
    overflow: auto;
    white-space: nowrap;
}

.inline-item {
  display: inline-block;
  margin-right: 10px;
}
.arrows{
  width:50px;
  height: 50px;
}

.navbar-item {
  color: rgb(255, 152, 170);
  background-color: black;
  border-radius: 15px;
}

.logo{
  width: 350px;
  height: 350px;
  object-position: 50%, 50%;
  border-radius: 15px;

}
ul {
  list-style-type: none;
}

#restaurantDeets {
border: 2px solid #ba495c;
}

#restaurantimage {
  border-radius: 15px;
}

