
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      #container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      #map {
        height: 80vh;
        width: 80vh;
        background-color: lightblue;
      }
      html,
      body {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
<body>
  <div class="container mt-8">
    <div class="row">
      <!-- City Search Card -->
      <div class="col-md-6" *ngIf="!selected">
        <div class="card bg-custom-coral text-white">
          <div class="card-body" >
            <h5 class="card-title">City</h5>
            <form>
              <div class="mb-3">
                <label for="city">Search By City or State:      </label>
                <input name="city" type="text" [(ngModel)]="citySearchInput" class="form-control" />
              </div>
              <button (click)="restaurantcitySearch()" class="btn btn-custom-blue">Search</button>
            </form>
          </div>
        </div>
      </div>


       <!-- <div class="col-md-6">
        <div class="card bg-custom-coral text-white">
          <div class="card-body">
            <h5 class="card-title">State</h5>
            <form>
              <div class="mb-3">
                <label for="state">Search state here: </label>
                <input name="state" type="text" [(ngModel)]="stateSearchInput" class="form-control" />
              </div>
              <button (click)="restaurantStateSearch()" class="btn btn-custom-blue">Search</button>
            </form>
          </div>
        </div>
      </div> -->

      <!-- Display List of Restaurants for City Search -->
      <div class="col-md-6" *ngIf="!selected">
        <div *ngIf="restaurantCitySearch.length > 0">
          <h2>Restaurants in the Searched City</h2>
          <ul>
            <li *ngFor="let restaurant of restaurantCitySearch" (click)="displayRestaurant(restaurant)">
              {{ restaurant.name }}
            </li>
          </ul>
        </div>
      </div>
</div>
      <!-- Display List of Restaurants for State Search -->

      <div class="col-md-6">

      <div *ngIf="selected">
      <!-- Display selected restaurant details -->
      <h3>{{ selected.name }}</h3>
      <p>{{ selected.description }}</p>
      <p>{{ selected.restaurantUrl }}</p>
      <p>{{ selected.phoneNumber }}</p>
      <p>{{ selected.address.city }}</p>
      <p>{{ selected.address.state }}</p>

      <button  (click)="displayHome()">Back</button>
      </div>
      <!-- Display List of Restaurants for State Search -->
      <div class="col-md-6" *ngIf="!selected">

        <div *ngIf="restaurantstateSearch.length > 0">
          <h2>Restaurants in the Searched State</h2>
          <ul *ngFor="let restaurant of restaurantstateSearch">
<li (click)="displayRestaurant(restaurant)">
              {{ restaurant.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>


  <script>initMap(); </script>
  <div class="container-map">
  <div class="my-google-map" style="align-items: center;">
    <google-map [options]="mapOptions">
      <map-marker *ngFor="let marker of markers" [position]="marker.position"></map-marker>

    </google-map>
  </div>
  </div>


