
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>


  </head>
<body>
  <div class="container mt-8">
    <div class="row">
      <!-- City Search Card -->
      <div class="col-md-6" *ngIf="!selected">
        <div class="card bg-custom-coral text-white">
          <div class="card-body" >
            <h5 class="card-title"></h5>
            <form>
              <div class="mb-3">
                <label for="city">Search By City or State:      </label>
                <input name="city" type="text" [(ngModel)]="citySearchInput" class="form-control" />
              </div>
              <button (click)="restaurantcitySearch()" class="btn btn-custom-blue">Search</button>
            </form>
          </div>
        </div>
      </div>


       <!-- <div class="col-md-6">
        <div class="card bg-custom-coral text-white">
          <div class="card-body">
            <h5 class="card-title">State</h5>
            <form>
              <div class="mb-3">
                <label for="state">Search state here: </label>
                <input name="state" type="text" [(ngModel)]="stateSearchInput" class="form-control" />
              </div>
              <button (click)="restaurantStateSearch()" class="btn btn-custom-blue">Search</button>
            </form>
          </div>
        </div>
      </div> -->
      <div class="results-container">
        <!-- Display List of Restaurants for City Search -->
        <div class="col-md-12" *ngIf="!selected">   <!-- Changed from col-md-6 to col-md-12 to occupy full width -->
            <div *ngIf="restaurantCitySearch.length > 0">
                <h2>Restaurants in the Searched City</h2>



                  <div>
                    <h2>Cuisines </h2>
                    <div #widgetsContent class="middle">
                      <img src="https://cdn0.iconfinder.com/data/icons/octicons/1024/arrow-small-left-512.png" >

                      <div *ngFor="let cuisine of cuisines" class="inline-item">
                      {{cuisine.type}}
                      </div>
                    </div>
                    <img src="https://cdn0.iconfinder.com/data/icons/octicons/1024/arrow-small-right-128.png">





                  </div>
                </div>

                <ul>

                    <li *ngFor="let restaurant of restaurantCitySearch | enabled : showEnabled" (click)="displayRestaurant(restaurant)">
                        <div class="restaurant-search">
                            <h3>{{ restaurant.name }}</h3>
                        </div>
                        <div class="restaurant-search-small">
                            {{ restaurant.address.state}}<br>
                            {{ restaurant.description}} <br>
                        </div>
                    </li>
                </ul>
            </div>


        <!-- Display List of Restaurants for State Search -->
        <div class="col-md-12" *ngIf="!selected">   <!-- Changed from col-md-6 to col-md-12 to occupy full width -->
            <div *ngIf="restaurantstateSearch.length > 0">
                <h2>Restaurants in the Searched State</h2>
                <ul *ngFor="let restaurant of restaurantstateSearch | enabled : showEnabled">
                    <li (click)="displayRestaurant(restaurant)">
                      <div class="restaurant-result">
                        {{ restaurant.name }}<br>
                        {{ restaurant.address}}<br>
                        {{ restaurant.description}}<br>
                        <hr>
                        </div>
                    </li>
                </ul>
            </div>
          </div>
          <div class="col-md-12" *ngIf="selected">
            <!-- Display selected restaurant details -->
            <h3>{{ selected.name }}</h3>
            <img src="{{selected.imageUrl}}">
            <p>{{ selected.description }}</p>
            <p>{{ selected.restaurantUrl }}</p>
            <p>{{ selected.phoneNumber }}</p>
            <p>{{ selected.address.street }}</p>
            <p>{{ selected.address.city }}</p>
            <p>{{ selected.address.state }}</p>
            <!-- <h3>Menus</h3>
            <div *ngFor="let menu of menus">
              <h4>Menu Type: {{menu.type}}</h4>
              <ul>
                <li *ngFor="let item of menu.menuItems">
                  {{item.itemName}}
                </li>
              </ul>
            </div> -->
            <button class="btn btn-danger" (click)="displayHome()">Back</button>
            </div>
    </div>


  <script>initMap(); </script>
  <div class="container-map">
  <div class="my-google-map" style="align-items: center;">
    <google-map [options]="mapOptions">
      <map-marker *ngFor="let marker of markers" [position]="marker.position"></map-marker>

    </google-map>
  </div>
  </div>


