 <div class="d-flex flex-row restaurant-container justify-content-center border-box">
   <div class="d-flex flex-row">
     <div class="center-block">
  <h1>Welcome back {{ currentUser.firstName }}</h1>
  <img src="{{currentUser.imageUrl}}" width="350px" height="auto">

  <h2>User Info:</h2>
  <ul>
    <li>
      <strong>Name:</strong>
      {{ currentUser.firstName }}
      {{ currentUser.lastName }}
    </li>
    <li>
      <strong>About me:</strong>
      {{ currentUser.aboutMe }}
    </li>
    <li>
     <strong>Username:</strong>
      {{ currentUser.username }}
    </li>
    <li><strong>Email:</strong> {{ currentUser.email }}</li>
    <li>
     <strong>Address:</strong><br>
      {{ currentUser.address.street }}
      {{ currentUser.address.city }}
      {{ currentUser.address.state }}
      {{ currentUser.address.zipcode }}
    </li>
  </ul>
  <br>

  <h2>Rated Restaurants</h2>
  <ul class="restaurant-list">
    <li *ngFor="let restaurantReview of currentUser.restaurantReviews">
<h5>
      Rating:  {{ restaurantReview.rating }} <br />
      Restaurant Name: {{ restaurantReview.restaurant?.name }} <br />
    </h5>
    </li>
  </ul>
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="navbar-item" [routerLink]="['/updateprofile']"
        >Update Profile</a
      >
    </li>
  </ul>
  <!-- <button class="navbar-item" routerLink]="['/updateprofile']">Update User Info</button> -->
</div>
</div>

  <div class="favorite-restaurant">
    <h3>Favorite Restaurant:</h3>

    <ul class="list-group list-group-flush">
      <div *ngFor="let restaurantReview of currentUser.restaurantReviews">
        <li class="list-group-item">
          Restaurant Name: {{ restaurantReview.restaurant?.name }}<br />
        </li>
        <li id="list-unstyled" class="list-group-item">
          Restaurant description: {{ restaurantReview.restaurant?.description }}
        </li>
      </div>
    </ul>
    <br />
  </div>
</div>

