.center-block {
  margin: 2.5% auto; /* This takes care of the centering and ensures it takes 95% of the page */
  background-color: rgba(255, 182, 193, 0.5); /* This is a light pink with 50% transparency */
  padding: 20px; /* Add some padding for content */
  border-radius: 15px; /* optional: for rounded corners */

  overflow: fixed; /* for scrolling */
}
#list-unstyled {
  background-image: linear-gradient(to right,rgba(4, 210, 251, 0.5), rgba(251, 4, 247, 0.5) ) ;


}

.list-group-item{
  background-image: linear-gradient(to right, rgba(251, 4, 247, 0.5),rgba(4, 210, 251, 0.5) ) ;
}
.restaurant-list {
  list-style-type: none; /* to remove bullet points */
  padding: 0; /* to reset default padding */
}

.restaurant-list li {
  margin-bottom: 10px;
}

.favorite-restaurant {
  margin-top: 20px;
  font-weight: bold;
}

.navbar-item {
  color: rgb(255, 152, 170);
  background-color: black;
  border-radius: 15px;
}
