
<div class="center-block">
  <h2>Rated Restaurants</h2>
  <ul class="restaurant-list">
    <li *ngFor="let restaurant of currentUser.ratedRestaurants">
      {{ restaurant.name }} - Rated: {{ restaurant.rating }}
    </li>
  </ul>

  <div class="favorite-restaurant">
    <h3>Favorite Restaurant:</h3>

    <p>{{currentUser.address.street}}</p>


    <div *ngFor="let rest of restaurantSearchs">
      {{ rest.description}}

    </div>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      <li class="nav-item" >
        <a class="navbar-item" [routerLink]="['/updateprofile']">Update Profile</a>
      </li>
    </ul>
    <!-- <button class="navbar-item" routerLink]="['/updateprofile']">Update User Info</button> -->
  </div>
</div>

