<form class="mt-4">
  <div class="mb-3">
    <label for="username" class="form-label">User Name</label>
    <input type="text" class="form-control" id="username" name="username" [(ngModel)]="loginUser.username">
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="loginUser.password">
  </div>

  <button type="button" class="btn btn-primary" (click)="login(loginUser)">Log In</button>
</form>




