
<div class="form-container" *ngIf="!selected">
  <br />
  <form class="row g-31">
    <h1>Leave a Review!</h1>
    <div class="col-md-6">
      <label class="form-label" for="newRestaurantReview"
        >Restaurant Name:
      </label>
      <input
        class="form-control"
        type="text"
        name="newRestaurant"
        [(ngModel)]="newRestaurantReview.atmosphere"
        placeholder="name"
      /><br />
    </div>
    <div class="col-md-6">
      <label class="form-label" for="newDescription">Description </label>
      <textarea
        class="form-control"
        type="text"
        name="newDescription"
        [(ngModel)]="newRestaurantReview.food"
        placeholder="Description"
      ></textarea
      ><br />
    </div>
    <div class="col-md-4">
      <label class="form-label" for="imageUrl">Pic of Restaurant: </label>
      <input
        class="form-control"
        type="text"
        name="imageUrl"
        [(ngModel)]="newRestaurantReview.price"
        placeholder="Image"
      /><br />
    </div>
    <div class="col-md-4">
      <label class="form-label" for="newRestaurantURL"
        >Restaurants website:
      </label>
      <input
        class="form-control" type="text" name="newRestaurantURL" [(ngModel)]="newRestaurantReview.service"/>
      <br/>
    </div>
    <div class="col-md-4">
      <label class="form-label" for="newRestaurantTN">How was the over all smell of the restaurant? </label>
      <input
        class="form-control" type="text" name="newRestaurantTN" [(ngModel)]="newRestaurantReview.smell"/>
    </div>

    <div>
      <label class="form-label">Add Image:</label>
      <input
        type="text" class="form-control" name="street" [(ngModel)]="newRestaurantReview.imageUrl"/>
    </div>


    <div class="col-12">
      <button
        type="button"
        class="btn btn-primary"
        (click)="addRestaurant(newRestaurant)"
      >
        Add a new Flavor
      </button>
    </div>
  </form>
</div>
</div>
